<div class="main vh-100 overflow-auto w-100">
  <div class="container">
    <app-header/>
    <div class="row mt-4">
      <div class="col-3">
        @for (each of DUMMY_USERS; track each.id) {
          <app-users [SelectedUser]="each?.id === selectedData?.id" [userData]="each" (select)="onSelectUser($event)"/>
        }
      </div>

      <div class="col-9">
        @if (selectedData) {
          <app-tasks [taskItem]="selectedData"/>
        } @else {
          <p class="text-white-50">Select a user to see the information</p>
        }
      </div>
    </div>
  </div>

</div>
